.position1 {
	width:200px;
	height:200px;
	background:#ee3e64;
	position:static;
}
.position2 {
	width:200px;
	height:200px;
	background:#44accf;
	position:relative;
	left:200px;
}
.position3 {
	width:200px;
	height:200px;
	background:#b7d84b;
	position:static;
}
body {
margin:0;
padding:0;
}

